.button {
  background-color: transparent;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background: rgb(214, 211, 211);
}

.button:disabled {
  cursor: not-allowed;
}

.darkTheme,
.button:disabled {
  background-color: gray;
  opacity: 0.8;
}

.button_s {
  padding: 5px;
}

.button_m {
  padding: 10px;
}

.button_l {
  padding: 15px;
}

.lightTheme {
  background-color: var(--background-color-light);
  color: var(--text-black);
}

.darkTheme {
  background-color: var(--background-color-dark);
  color: var(--text-white);
}
