.lightTheme {
  background-color: var(--background-color-light);
  color: var(--text-black);
}

.darkTheme {
  background-color: var(--background-color-dark);
  color: var(--text-white);
  border: 1px solid white;
}
